# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Build and Temp
dist/
dist-ssr/
build/
.cache
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace

# Environment files
.env
.env.*
!.env.example

# Test and Verification Artifacts
playwright-report/
test-results/

# Cloud platforms / Misc
.gemini/
gha-creds-*.json

# Supabase
supabase/.temp/
.supabase/
contracts/node_modules
